extends layout

block content
    h1 Documentation
    h2 Libraries
    p
        a(href="https://github.com/DXsmiley/microlog-client-python", target="_blank") Minimal python client
    h2 Official API
    h3 GET &nbsp;
        code /api/
    p Gets data from a graph.
    p Currently unavailable.
    h3 POST &nbsp;
        code /api/
    p Posts data to a graph.
    p You should send a JSON blob of the following format:
    pre.
        {
            "api_username": (string : username of your account),
            "api_token": (string : api token, found on your account page),
            "datasets":
            [
                {
                    "graph": (string : id of graph, it's the gibberish at the end of the URL when you look at the graph),
                    "points":
                    [
                        {
                            "time": (integer : time of the point, number of seconds since UNIX epoch),
                            "count": (integer: magnitude of the point)
                        }
                    ]
                }
            ]
        }
    p Both the datasets and points array can contain as many items as you want, but please don't overload the server.
