extends layout

block content
    h1 Microlog
    p Microlog is a small service to make it easier to track custom metrics.
    p It's designed to be very easy to set up and use.
    p It sacrifices scalability and features for ease of use.
    p It'll be good for experimental projects, but large applications would definitely benefit from a paid metrics service made by professionals.
    p Microlog currently in development, so it's probably unstable and insecure.
    p The developer reserves the right to destroy any data you might put on the site, and do so unexpectedly.
    p
        a(href="/auth/login") Login
    p
        a(href="/auth/create") Create Account
